[submodule "backend"]
	path = backend
	url = https://github.com/overcast-software/career_caddy_api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/overcast-software/career_caddy_frontend.git
