[submodule "api"]
	path = api
	url = git@github.com:overcast-software/career_caddy_api.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:overcast-software/career_caddy_frontend.git
[submodule "agents"]
	path = agents
	url = git@github.com:overcast-software/career_caddy_agents.git
[submodule "automation"]
	path = automation
	url = git@github.com:overcast-software/career_caddy_automation.git
[submodule "e2e"]
	path = e2e
	url = git@github.com:overcast-software/career_caddy_e2e.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:overcast-software/career_caddy_deploy.git
